<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Search Engine | ishandeveloper</title>
    <link rel="stylesheet" href="../static/css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="shortcut icon" href="../static/images/flower_logo.png" type="image/x-icon">
     <html lang="es">
      <link rel="stylesheet" href="../static/css/style1.css">
      <meta charset="UTF-8">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  
  <body>
    <main>
        <header class="search-container">
            <img src="../static/images/flower_logo.png" class="logo" alt="Flower Search">
            <form class="search-form">
                <button type="submit" class="icon search-ico">
                    <i class="fas fa-search"></i>
                </button>
                <input type="search" class="search-input" autofocus="true" spellcheck="false">
                <a href="https://en.wikipedia.org/wiki/Special:Random" rel="noopener" target="_blank"
                    class="icon random-ico">
                    <i class="fas fa-random"></i>
                </a>
            </form>
        </header>

        <section class="results"></section>
               </a>
	      </div>
	  </div>
      </div>
    </main>
    <script src="../static/js/main.js"></script>
  </body>
</html>
